<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: winkle; 
}

@font-face {
    font-family: 'winkle';
    src: url(winkle.tff) format('truetype');
    src: url(winkle.eot) format('embedded-opentype'),
         url(winkle.woff) format('woff'),
         url(winkle.ttf) format('truetype'),
         url(winkle.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/takoacads.png);
}
h1 {
  font-size: 6em;
  font-family: "winkle";
}

h2 {
  font-family: "winkle";
  font-size: 4em;
}
h1,
h2 {
  margin: 0;
  color: #fff;
}




